<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motoristas</title>
    <link rel="stylesheet" href="../static/signup.css">
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
    />
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous"
    />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Passageiros <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Motoristas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Veiculos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Transporte</a>
              </li>
            <li class="nav-item">
               <a class="nav-link" href="#">Relatorios</a>
            </li>
          </ul>
        </div>
      </nav>
      <br>
      {% block content %}

      <div class="formulario">
        <form method="POST">
          <h3 align="center">Cadastrar Motoristas</h3>
          
          <div class="formulario-conteudo">
            {% with messages = get_flashed_messages(with_categories=true) %} 
            {% if messages %} 
              {% for category, message in messages %} {% if category == 'error' %}
                <span>{{ message }}</span>
            
              {% else %}
              
                <span>{{ message }}</span>
             
              {% endif %} {% endfor %} {% endif %} {% endwith %}
          
            <div class="form-group">
              <label for="nome">Nome Completo</label>
              <input
                type="text"
                class="form-control"
                id="nome"
                name="nome"
                placeholder="Digite seu nome completo"
              />
            </div>
            <div class="form-group">
              <label for="nome">Data de nascimento</label>
              <input
                type="date"
                class="form-control"
                id="dateNascimento"
                name="dateNascimento"
                placeholder="Data de nascimento"
              />
            </div>
            <div class="form-group">
              <label for="cpf">CPF</label>
              <input
                type="number"
                class="form-control"
                id="cpf"
                name="cpf"
                placeholder="Digite seu CPF"
              />
            </div>
            <div class="form-group">
              <label for="endereco">Endereço</label>
              <input
                type="text"
                class="form-control"
                id="endereco"
                name="endereco"
                placeholder="Digite Endereço"
              />
            </div>
          </div>
          <br />
          <div class="botao"><button type="submit" class="btn btn-primary">Cadastrar</button></div>
        </form>
      </div>
      {% endblock %}
</body>
</html>