<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Músicas</title>
    <link rel="stylesheet" href="../static/play.css">
</head>
<body>
    
    <div class="musicasPlayContainer">
        <div class="musicasPlayConteudo">
            <span id="titulo">
                <h1>Lista de Músicas</h1>
            </span>    
            <br>
            <audio src="../static/audios/ruins.mp3" controls></audio>
           
        </div>
    </div>
</body>
</html>