#imagemFundoHome{
    height: 100vh;
    width: 100vw;
    background-image: url("imagens/homeBackground.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}

#tituloHome{
    width: 100vw;
    height: 91vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
 
    font-size: 48px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}

#backgroundTitulo{
    background-color: rgba(0, 0, 0, 0.205);
    padding: 20px;
    border-radius: 20px;   
}


