*{
    margin: 0;
    padding: 0;
}

#titulo{
    padding: 30px;
    margin: 30px;

}

.musicasPlayContainer{
    width: 100vw;
    height: 100vh;

    background-color: lightgoldenrodyellow;
    
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.musicasPlayConteudo{
    width: 40%;
    height: 60%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: ghostwhite;

    border-style: solid;
    border-color: black;
    border-radius: 20px;

}